* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  margin-top: 10%;
  background-color: #121417;
  display: flex;
  justify-content: center;
}




.rating-box {
  background-color: #1c222c;
  width: 400px;
  height: 400px;
  border-radius: 27px;
}

.star-background {
  margin-top: 7%;
  background-color: #252d37;
  height: 40px;
  width: 40px;
  border-radius: 33px;
  margin-left: 30px;
}


.txt-rating-btn {
  margin-left: 30px;
}

.rating-question {
  margin-top: 8%;
  font-size: 23px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
}

.rating-feedback-txt {
  margin-top: 2%;
  font-size: 12px;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 270px;
  color: #959eac;
  line-height: 1.7;
}
